// COLORS
//$green: #0f0;

//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;

$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

$bruin: #998675;
$donkerbruin: #736357;
$wit: #fff;
$grijs: #555555;
$lichtgrijs: #8c8c8c;
